# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual environments
.venv/
venv/
env/

# Environment variables
.env

# Streamlit
.streamlit/

# VS Code / Cursor
.vscode/

# OS
.DS_Store
Thumbs.db

# Logs
*.log

api_opensky.pdf